@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
}

%flex-center {
  display: flex;
  align-items: center;
}

%flex-full-center {
  @extend %flex-center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: white;
}

$contentWidth: 1170px;

.page-wrapper {
  margin: 0 auto;
  max-width: $contentWidth;
  background-color: rgba(166, 201, 255, 1);
}

.header {
  position: relative;
  height: 148px;
  display: flex;
  justify-content: space-between;
  background-color:rgba(180, 127, 246, 1);
  padding-left: 155.36px / $contentWidth * 100%;
  padding-right: 55.63px / $contentWidth * 100%;
}

.header__modal {
  width: 451px;
  height: 500px;
  box-sizing: border-box;
  background: rgba(166, 201, 255, 1);
  border: 1px solid #00FF4A;
  border-left: none;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  padding: 33px 64.5px;
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.3s;
}

.header__modal_hidden {
  transform: translateY(-100%);
}

.modal__link {
   & + & {
    margin-top: 39px;
   }
}

.header__links {
  width: fit-content;
  margin: 55px 0 auto 0;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
}

.header__links-item {
  &:first-child {
    text-decoration: underline;
  }

  & + & {
    margin-left: 60px;
  }
}

$burgerGap: (27px - 9px) / 2;

.burger {
  width: 43.37px;
  height: 24px;
  margin-top: 66px + 3px;

  @extend %flex-center;
}

.burger__button {
  width: 100%;
  height: 3px;
  background-color: white;
  position: relative;
  transition: 0.3s 0.3s;

  &::after, &::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: white;
    transition: top 0.3s 0.3s, transform 0.3s;
  }

  &::before {
    top: -$burgerGap;
  }

  &::after {
    bottom: -$burgerGap;
  }
}

.burger__button_active {
  background-color: transparent;
  transition: 0.2s 0.3s;

  &::after, &::before {
    top: 0;
    transition: top 0.3s, transform 0.3s 0.3s;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.slider {
  margin-top: 40px;
  height: 176px;
  background: rgba(112, 41, 203, 1);
  position: relative;
}

$sliderGap: 100px;

.slider__wrapper {
  width: calc(100% - $sliderGap * 2);
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider__content {
  display: flex;
  height: 100%;
  position: relative;
}

.slider__item {
  @extend %flex-center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  padding-left: calc(308.22px - $sliderGap);
  box-sizing: border-box;
  transition: ease-in-out 0.3s;

  & h1 {
    font-size: 45px;
    line-height: 45px;
  }
}

.slider__control {
  position: absolute;
  @extend %flex-full-center;
  top: 0;
  height: 100%;
  width: $sliderGap;

  & img {
    max-width: 37px / $sliderGap * 100%;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.control__forward {
  right: 0;
}

.control__backward {
  & img {
    transform: rotate(180deg);
  }
}

.section__h2 {
  height: 125px;
  @extend %flex-full-center;

  & h2 {
    font: 500 30px/45px;
    height: fit-content;
  }
}

.grid-block {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
}

.grid-block__item {
  height: 198px;
  background: rgba(58, 222, 75, 1);
  @extend %flex-full-center;
  font-weight: 400;
  font-size: 53px;
  line-height: 62.11px;
}

.i1 {
  width: 392px / $contentWidth * 100%;
}

.i2 {
  width: 765px / $contentWidth * 100%;
}

 .i3 {
  width: 995px / $contentWidth * 100%;
 }

 .i4 {
  width: 162px / $contentWidth * 100%;
 }

 $inlineWidth: ($contentWidth - 50px) / $contentWidth * 100%;

 .inline {
  width: $inlineWidth;
  box-sizing: border-box;
  height: 248px;
  background-color: yellow;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding: 25px;
  border-radius: 30px;
 }

 .inline__item {
  width: $inlineWidth / 5;
  background: #497957;
  border: 2px solid #00FF4A;
  border-radius: 35px;

  &:hover {
    box-shadow: 2px 5px 10px #497957;
  }
 }

 .text-utp {
    height: 192px;
    @extend %flex-full-center;
 }

 .footer {
  height: 100px;
  background: rgba(216, 127, 246, 1);
  @extend %flex-full-center;
 }

 .footer__content {
  @extend %flex-full-center;
 }

 .footer__link {
  & + & {
    margin-left: 175px;
  }
 }

 @media (max-width: 1169px) {
  .grid-block {
    gap: 13px / $contentWidth * 100vw;
  }
 }
