@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');
}

%flex-center {
  display: flex;
  align-items: center;
}

%flex-full-center {
  @extend %flex-center;
  justify-content: center;
}

@function setAdaptive($x) {
  @return $x / $contentWidth * 100vw;
}

@function setAdaptive880px($x) {
  @return $x / 880px * 100vw;
}

@function setAdaptive600px($x) {
  @return $x / 600px * 100vw;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  color: white;
}

$contentWidth: 1170px;
$burgerGap: (27px - 9px) / 2;
$inlineWidth: ($contentWidth - 50px) / $contentWidth * 100%;

.page-wrapper {
  margin: 0 auto;
  max-width: $contentWidth;
  background-color: rgba(166, 201, 255, 1);
}

.header {
  position: relative;
  height: 148px;
  display: flex;
  justify-content: space-between;
  background-color:rgba(180, 127, 246, 1);
  padding-left: 155.36px / $contentWidth * 100%;
  padding-right: 55.63px / $contentWidth * 100%;
}

.header__modal {
  width: 451px;
  height: 500px;
  box-sizing: border-box;
  background: rgba(166, 201, 255, 1);
  border: 1px solid #00FF4A;
  border-left: none;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transition: ease-in-out 0.3s;

  & .popup__link {
    width: 262px / 451px * 100%;
    margin: 55px auto 0  auto;
  }
}

.modal__container {
  display: flex;
  flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 33px;
  margin-left: 64.5px;
}

.header__modal_hidden {
  transform: translateY(-100%);
}

.modal__link {
   & + & {
    margin-top: 39px;
   }
}

.header__links {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 55px 0 auto 0;
}

.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
}

.header__links-item {
  &:first-child {
    text-decoration: underline;
  }

  & + & {
    margin-left: 60px;
  }
}



.burger {
  width: 43.37px;
  height: 24px;
  margin-top: 66px + 3px;

  @extend %flex-center;
}

.burger__button {
  width: 100%;
  height: 3px;
  background-color: white;
  position: relative;
  transition: 0.3s 0.3s;

  &::after, &::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: white;
    transition: top 0.3s 0.3s, transform 0.3s;
  }

  &::before {
    top: -$burgerGap;
  }

  &::after {
    bottom: -$burgerGap;
  }
}

.burger__button_active {
  background-color: transparent;
  transition: 0.2s 0.3s;

  &::after, &::before {
    top: 0;
    transition: top 0.3s, transform 0.3s 0.3s;
  }

  &::before {
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }
}

.slider {
  margin-top: 40px;
  height: 176px;
  background: rgba(112, 41, 203, 1);
  position: relative;
}

$sliderGap: 100px;

.slider__wrapper {
  width: calc(100% - $sliderGap * 2);
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.slider__content {
  display: flex;
  height: 100%;
  position: relative;
}

.slider__item {
  @extend %flex-center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transition: ease-in-out 0.3s;

  & h1 {
    margin-left: calc(308.22px - $sliderGap);
    font-size: 45px;
    line-height: 45px;
  }
}

.slider__control {
  position: absolute;
  @extend %flex-full-center;
  top: 0;
  height: 100%;
  width: $sliderGap;

  & img {
    max-width: 37px / $sliderGap * 100%;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }
}

.control__forward {
  right: 0;
}

.control__backward {
  & img {
    transform: rotate(180deg);
  }
}

.section__h2 {
  height: 125px;
  @extend %flex-full-center;

  & h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.grid-block {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
}

.grid-block__item {
  height: 198px;
  background: rgba(58, 222, 75, 1);
  @extend %flex-full-center;
  font-weight: 400;
  font-size: 53px;
  line-height: 62.11px;
}

.i1 {
  width: 392px / $contentWidth * 100%;
}

.i2 {
  width: 765px / $contentWidth * 100%;
}

 .i3 {
  width: 995px / $contentWidth * 100%;
 }

 .i4 {
  width: 162px / $contentWidth * 100%;
 }



 .inline {
  width: $inlineWidth;
  box-sizing: border-box;
  height: 248px;
  background-color: yellow;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding: 25px;
  border-radius: 30px;
 }

 .inline__item {
  width: $inlineWidth / 5;
  background: #497957;
  border: 2px solid #00FF4A;
  border-radius: 35px;

  &:hover {
    box-shadow: 2px 5px 10px #497957;
  }
 }

 .text-utp {
    height: 192px;
    @extend %flex-full-center;
 }

 .text-utp__content {
  width: 100%;
  @extend %flex-full-center;
  flex-direction: column;

  & h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 45px;
  }

  & .popup__link {
    margin-top: 9px;
    margin-left: 0;
  }
 }

 .footer {
  height: 100px;
  background: rgba(216, 127, 246, 1);
  @extend %flex-full-center;
 }

 .footer__content {
  @extend %flex-full-center;
 }

 .footer__link {
  & + & {
    margin-left: 175px;
  }
 }

 .popup__link {
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 32px / 970px * 100%;
  padding: 15px 25px;
  border-radius: 25px;
  background: rgba(255, 75, 75, 1);

  &:hover {
    box-shadow: 2px 5px 10px #497957;
  }
 }

.popup {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease-in-out;
  text-align: center;
}

.popup__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 5;
}

.popup__state {
  display: none;

  &:checked + .popup {
    opacity: 1;
    visibility: visible;
  }
}

.popup__content {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: rgba(166, 201, 255, 1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  @extend %flex-full-center;
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;
}

.popup__close {
  position: absolute;
  top: 15px / 400px * 100%;
  right: 15px / 400px * 100%;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.44px;
  padding: 8px 15px;
  background-color: rgba(73, 121, 87, 1);
  border-radius: 5px;
  cursor: pointer;
}

 @media (max-width: 1169px) {
  .header {
    height: setAdaptive(148px);
  }

  .header__links {
    margin-top: setAdaptive(55px);
  }

  .burger {
    margin-top: setAdaptive(69px);
  }

  .popup__link {
    padding: setAdaptive(15px) setAdaptive(25px);
    border-radius: setAdaptive(25px);
  }

  .grid-block {
    gap: setAdaptive(13px);
  }

  .inline {
    height: setAdaptive(248px);
    gap: setAdaptive(20px);
    padding: setAdaptive(25px);
    border-radius: setAdaptive(30px);
  }

  .grid-block__item {
    height: setAdaptive(198px);
  }

  .slider {
    height: setAdaptive(176px);
  }

  .footer {
    height: setAdaptive(100px);
  }

  .slider__control {
    width: setAdaptive(100px);
  }

  .slider__item {
    & h1 {
      margin-left: setAdaptive(208.22px);
    }
  }

  .footer__link {
    & + & {
      margin-left: setAdaptive(175px);
    }
  }
 }

 @media (max-width: 880px) {
    .slider__wrapper {
      width: calc(100% - setAdaptive880px(200px));
    }

    .link {
      font-size: setAdaptive880px(28px);
      line-height: setAdaptive880px(45px);
    }

    .slider__item {
      & h1 {
        font-size: setAdaptive880px(45px);
        line-height: setAdaptive880px(45px);
        margin-left: 15%;
      }
    }

    .popup__link {
      font-size: setAdaptive880px(24px);
      line-height: setAdaptive880px(28px);
      padding: setAdaptive880px(11px) setAdaptive880px(19px);
      border-radius: setAdaptive880px(19px);
    }

    .section__h2 {
      height: setAdaptive880px(125px);

      & h2 {
        font-size: setAdaptive880px(32px);
        line-height: setAdaptive880px(45px);
      }
    }

    .grid-block__item {
      font-size: setAdaptive880px(53px);
      line-height: setAdaptive880px(62.11px);
    }

    .inline__item {
      border-radius: setAdaptive880px(35px);
    }

    .header__modal {
      width: setAdaptive880px(451px);
      height: setAdaptive880px(500px);

      & .popup__link {
        margin-top: setAdaptive880px(55px);
      }
    }

    .modal__link {
      & + & {
        margin-top: setAdaptive880px(39px);
      }
    }

    .text-utp {
      height: setAdaptive880px(192px);
    }

    .text-utp__content {
      & h2 {
        font-size: setAdaptive880px(28px);
        line-height: setAdaptive880px(45px);
      }

      & .popup__link {
        margin-top: setAdaptive880px(9px);
      }
    }
 }

 @media (max-width: 600px) {
    .header__links {
      margin-top: auto;
      margin-bottom: auto;
    }

    .burger {
      margin-top: auto;
      margin-bottom: auto;
      width: setAdaptive600px(43.37px);
      height: setAdaptive600px(24px);
    }

    .burger__button {
      height: setAdaptive600px(3px);

      &::before {
        top: setAdaptive600px(-9px);
      }

      &::after {
        bottom: setAdaptive600px(-9px);
      }
    }

    .popup__content {
      width: 50vw;
      height: 50vw;
    }

    .popup__close {
      font-size: setAdaptive600px(20px);
      line-height: setAdaptive600px(23.44px);
      padding: setAdaptive600px(8px) setAdaptive600px(15px);
      border-radius: setAdaptive(5px);
    }

    .inline {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: setAdaptive600px(30px);
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      padding: setAdaptive600px(30px);
    }

    .inline__item {
      width: 100%;
      height: setAdaptive600px(155px);
    }
 }
